<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airplane</title>
    <link rel="stylesheet" href="View.css">
</head>
<body>
<div id="app">

    <fieldset>
        <legend>Airplane</legend>
        <div class="wrapper">
            <div>
                <div>
                    <input type="radio" id="business" name="airplane" value="business" checked/>
                    <label for="business">Business</label>
                </div>

                <div>
                    <input type="radio" id="comfort" name="airplane" value="comfort"/>
                    <label for="comfort">Comfort</label>
                </div>

                <div>
                    <input type="radio" id="econom" name="airplane" value="econom"/>
                    <label for="econom">Econom</label>
                </div>

                <div>
                    <label for="amount">Amount to pay: </label>
                    <input type="text" id="amount" name="amount" required minlength="1" size="7"/>
                </div>
                <div>
                    <form>
                        <label for="buy">You can buy: </label>
                        <output name="buy" id="buy" for="amount"></output>
                    </form>
                </div>

                <div><input class="styled" type="button" value="Result"/></div>

            </div>
            <div>
                <div>
                    <label for="model">Model of airplane: </label>
                    <input type="text" id="model" name="model" required minlength="1" size="10"/>
                </div>
                <div>
                    <label for="wings">Wings: </label>
                    <input type="text" id="wings" name="wings" required minlength="1" size="5"/>
                </div>
                <div>
                    <label for="windows">Windows: </label>
                    <input type="text" id="windows" name="windows" required minlength="1" size="5"/>
                </div>
                <div>
                    <label for="doors">Doors: </label>
                    <input type="text" id="doors" name="doors" required minlength="1" size="5"/>
                </div>
                <div>
                    <label for="floors">Floors: </label>
                    <input type="text" id="floors" name="floors" required minlength="1" size="5"/>
                </div>
                <div>
                    <label for="places">Places: </label>
                    <input type="text" id="places" name="places" required minlength="1" size="5"/>
                </div>

            </div>

            <div>
                <div>
                    <label for="destanation">Destanation: </label>
                    <input type="text" id="destanation" name="destanation" required minlength="1" size="10"/>
                </div>

                <div>
                    <form>
                        <label for="airplane">Airplane: </label>
                        <output name="airplane" id="airplane"></output>
                    </form>
                </div>

            </div>


        </div>
    </fieldset>
    <!--<script type="module" async src="../Presenter/Presenter.js"></script>-->
    <script>
        const app = new Vue({
            el: '#app'
        })
    </script>
</div>
</body>
</html>